
<!-- No loop is needed when rendering this partial -->

<%= content_tag_for(:tr, list) do %>
  <td class="dim"><%= list.id %></td>
  <td><%= list.name %></td>
  <td><%= list.mailgroups.count %></td>
  <td><%= list.mailgroups.map { |m| m.users.count }.sum %></td>


  <td class="fadeactions col-md-2">
    <%= link_to(content_tag(:i, nil, class: 'fa fa-pencil'), edit_list_path(list),
          data: {toggle: "tooltip", title: "Edit list", placement: 'top'}) if current_user
     %>
    <%= link_to(content_tag(:i, nil, class: 'fa fa-group' ), list_path(list),
          data: {toggle: "tooltip", title: "List details and assigned groups", placement: 'top'})
     %>
    <%= link_to(content_tag(:i, nil, class: 'fa fa-trash-o'),
                list_path(list),
                method: :delete,
                remote: true,
                data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')),
                        toggle: "tooltip", title: "Delete list", placement: 'top'
                  })  if current_user
    %> 

    <%= link_to(content_tag(:i, nil, class: 'fa fa-minus-square-o'),
        remove_list_mailgroup_path(@list, mailgroup),
          method: :delete,
          data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')),
            toggle: "tooltip", title: "Remove mailgroup from list", placement: 'top'
          }) if defined? @list and current_user
     %>

  </td>
<% end %>
