<%- model_class = List -%>

<div class="row">
  <div class="page-header col-lg-3">
    <h1>Lists</h1>
  </div>

  <div class="col-lg-3 spacer-button">
      <%= link_to 'New List',
                  new_list_path,
                  class: 'btn btn-primary' if current_user
       %>
     <!-- %= link_to 'Pick one', 
                  sample_user_path,
                  data: {toggle: "tooltip", title: "Go to a randomly selected user", placement: 'top'},
                  class: 'btn btn-primary' 
       % -->
  </div>
</div>

<table class="table table-striped fadeactions col-lg-12">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th># Groups</th>
      <th># Users</th>
      <th></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>

    <%= render @lists %>

  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_list_path,
            :class => 'btn btn-primary spacer-medium' if current_user
%>


<%= content_tag(:div, "partial lists/_list" , class: 'iv col-lg-12') %>
<%= content_tag(:div, "#{__FILE__}" , class: 'iv col-lg-12') %>