<%- model_class = User -%>
<div class="page-header col-lg-12">
  <span class="dim"></span><h2><%= content_tag(:i, nil, class: 'fa fa-user') %>
  Assigned users</h2>
</div>

<table class="table table-striped fadeactions users">
  <thead>
    <tr>
      <td class="dim"><%= model_class.human_attribute_name(:id) %></td>
      <td><%= model_class.human_attribute_name(:lastname) %></td>
      <td><%= model_class.human_attribute_name(:firstname) %></td>
      <td><%= model_class.human_attribute_name(:company) %></td>
      <td><%= model_class.human_attribute_name(:email) %></td>
      <td><%=t '.actions', :default => t("helpers.actions") %></td>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'users/user_append', collection: @mailgroup.users, as: :user %>
  </tbody>
</table>

<%= form_tag append_mailgroup_users_path(@mailgroup), method: :patch, remote: true do %>
  <div class="input-group append col-md-6">

    <%= text_field_tag 'autousers', '', size: 50, class: 'form-control' %>
    <%= hidden_field_tag 'user_id', 'dummy' %>

    <span class="input-group-btn append">
        <button class="btn btn-default" type="submit">Append</button>
    </span>
  </div>
<% end %>

<p class='iv'><%= "#{__FILE__}" %></p>
