<!-- partial _userlist.html.erb 
    used ALSO to present SEARCH RESULTS  -->

<%- model_class = User -%>


<div class="row col-lg-12">
<%= will_paginate @user, renderer: BootstrapPagination::Rails %>
</div>


<div class="row col-lg-12">
<table class="table table-striped fadeactions fixed">
  <%= render partial: 'user_header', locals: {show_check: false} %>
  <tbody>
    
  <!--  loop is created with content_tag_for in partial -->
  <!-- %= render @users, locals: {show_check: false} % -->
  <%= render partial: 'user', collection: @users, locals: {show_check: false} %>

  </tbody>
</table>
</div>


<div class="row col-lg-12">
<%= will_paginate @user, renderer: BootstrapPagination::Rails %>
</div>
<!-- <div class="col-lg-3"></div> -->

<div class="row col-lg-12">
<%= link_to t('.new', default: t("helpers.links.new")),
            new_user_path,
            class: 'btn btn-primary' if current_user %>

<%= link_to t('.back', default: t("helpers.links.back")),
            :back,
            class: 'btn btn-default' %>

</div>


<%= content_tag(:div, "#{__FILE__}" , class: 'iv col-lg-12') %>

