<%- model_class = User -%>
<div class="page-header">
  <!-- h1><%= t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'] , :model => model_class.model_name.human.titleize %></h1 -->
  <!--h1><%= "Edit #{@user.lastname} #{@user.firstname}" %></h1-->
  <h1><%= if @user.lastname.nil?
            " #{@user.company}"  					
  				else
            " #{@user.lastname} #{@user.firstname}"
  				end
  		%>
      <%= content_tag(:i, nil, class: 'fa fa-pencil') %>
  </h1>
</div>
<%= render :partial => 'form' %>

<div class="col-lg-12">
<p class='iv'><%= "#{__FILE__}" %></p>
</div>