<%- model_class = User -%>
<div class="page-header col-lg-12">
  <!-- h1><%=t '.title', default: model_class.model_name.human.titleize %></h1 -->
  <h1><%= content_tag(:i, nil, class: 'fa fa-user') %>
    <span class="dim"></span><%= unless @user.lastname.nil?
            "#{@user.lastname} #{@user.firstname}"
          else
            "#{@user.company}"
          end
       %> 
  </h1>
</div>

<div class="panel panel-default panel-body col-lg-9">
  <div class="row">
    <dl class="dl-horizontal col-lg-5">
    <dt class="dim"><strong ><%= model_class.human_attribute_name(:id) %>:</strong></dt>
    <dd class="dim"><%= @user.id %></dd>
    <dt><strong><%= model_class.human_attribute_name(:salutation) %>:</strong></dt>
    <dd><%= @user.salutation %></dd>
    <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
    <dd><%= @user.title %></dd>
    <dt><strong><%= model_class.human_attribute_name(:firstname) %>:</strong></dt>
    <dd><%= @user.firstname %></dd>
    <dt><strong><%= model_class.human_attribute_name(:lastname) %>:</strong></dt>
    <dd><%= @user.lastname %></dd>
    <dt><strong><%= model_class.human_attribute_name(:function) %>:</strong></dt>
    <dd><%= @user.function %></dd>
    <dt><strong><%= model_class.human_attribute_name(:company) %>:</strong></dt>
    <dd><%= @user.company %></dd>
    <dt><strong><%= model_class.human_attribute_name(:appendix) %>:</strong></dt>
    <dd><%= @user.appendix %></dd>
    <dt><strong><%= model_class.human_attribute_name(:street) %>:</strong></dt>
    <dd><%= @user.street %></dd>
    <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
    <dd><%= @user.city %></dd>
    <dt><strong><%= model_class.human_attribute_name(:zip) %>:</strong></dt>
    <dd><%= @user.zip %></dd>
    <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
    <dd><%= @user.country %></dd>
    </dl>
    <dl class="dl-horizontal col-lg-5">
    <dt><strong><%= model_class.human_attribute_name(:fax) %>:</strong></dt>
    <dd><%= @user.fax %></dd>
    <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
    <dd><%= @user.phone %></dd>
    <dt><strong><%= model_class.human_attribute_name(:phone2) %>:</strong></dt>
    <dd><%= @user.phone2 %></dd>
    <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
    <dd><%= mail_to(@user.email) %></dd>
    <dt><strong><%= model_class.human_attribute_name(:email2) %>:</strong></dt>
    <dd><%= mail_to(@user.email2) %></dd>
    <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
    <dd><%= @user.gender %></dd>
    <dt><strong><%= model_class.human_attribute_name(:initials) %>:</strong></dt>
    <dd><%= @user.initials %></dd>
    <dt><strong><%= model_class.human_attribute_name(:language) %>:</strong></dt>
    <dd><%= @user.language %></dd>
    <dt><strong><%= model_class.human_attribute_name(:memo) %>:</strong></dt>
    <dd><%= @user.memo %></dd>
    <!--<dt><strong><%= model_class.human_attribute_name(:prio) %>:</strong></dt>
    <dd><%= @user.prio %></dd> -->
    <!-- <dt><strong><%= model_class.human_attribute_name(:mailgroups) %>:</strong></dt>
    <dd><%= @user.mailgroups %></dd> -->
    <dt class="dim"><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
    <dd class="dim"><%= @user.created_by %></dd>
    <dt class="dim"><strong><%= model_class.human_attribute_name(:updated_by) %>:</strong></dt>
    <dd class="dim"><%= @user.updated_by %></dd>
    <dt class="dim"><strong><%= model_class.human_attribute_name(:updated_at) %>:</strong></dt>
    <dd class="dim"><%= @user.updated_at.try(:to_formatted_s).try(:first,16) %></dd>
    </dl>
  </div>

  <div class='panel-btn-group row'>

    <%= link_to content_tag(:i, nil, class: "glyphicon glyphicon-chevron-left") + 'Back',
                :back, class: 'btn btn-default'
     %>

    <%= link_to content_tag(:i, nil, class: "fa fa-pencil") + 'Edit',
                edit_user_path(@user),
                class: 'btn btn-default' if current_user
     %>

    <%= link_to content_tag(:i, nil, class: "fa fa-envelope-o") + 'Email',
                "mailto:#{@user.email}", 
                data: {toggle: "tooltip", title: "Email to", placement: 'top'},
                class: 'btn btn-default'
     %>

    <%= link_to content_tag(:i, nil, class: 'fa fa-trash-o') + 'Delete',
                user_path(@user),
                method: 'delete',
                data: { confirm: "Are you sure to delete #{@user.firstname} #{@user.lastname}?", toggle: "tooltip", title: "Really delete?" },
                class: 'btn btn-danger' if current_user
     %>

  </div>
</div>


<%= render partial: "mailgroups/user_mailgroups" %>
<%= content_tag :div, "#{__FILE__}", class: 'iv col-lg-12' %>
<!-- 
  EXAMPLE BUTTON
link_to content_tag(:i, "", class: "icon-trash icon-white") + "Delete", path_to_stuff, method: :delete, class: "btn btn-danger remove_fields" 

-->