<%- model_class = User -%>
<div class="page-header col-lg-12">
  <!-- h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1 -->
  <h1><%= content_tag(:i, nil, class: 'fa fa-user') %>
    <span class="dim"></span><%= unless @user.lastname.nil?
            "#{@user.lastname} #{@user.firstname}"
          else
            "#{@user.company}"
          end
       %> 
  </h1>
</div>

  <div class="panel panel-default panel-body col-lg-9">
    <div class="row">
    <dl class="dl-horizontal col-lg-5">
      <dt class="dim"><strong ><%= model_class.human_attribute_name(:id) %>:</strong></dt>
      <dd class="dim"><%= @user.id %></dd>
      <dt><strong><%= model_class.human_attribute_name(:salutation) %>:</strong></dt>
      <dd><%= @user.salutation %></dd>
      <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
      <dd><%= @user.title %></dd>
      <dt><strong><%= model_class.human_attribute_name(:firstname) %>:</strong></dt>
      <dd><%= @user.firstname %></dd>
      <dt><strong><%= model_class.human_attribute_name(:lastname) %>:</strong></dt>
      <dd><%= @user.lastname %></dd>
      <dt><strong><%= model_class.human_attribute_name(:function) %>:</strong></dt>
      <dd><%= @user.function %></dd>
      <dt><strong><%= model_class.human_attribute_name(:company) %>:</strong></dt>
      <dd><%= @user.company %></dd>
      <dt><strong><%= model_class.human_attribute_name(:appendix) %>:</strong></dt>
      <dd><%= @user.appendix %></dd>
      <dt><strong><%= model_class.human_attribute_name(:street) %>:</strong></dt>
      <dd><%= @user.street %></dd>
      <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
      <dd><%= @user.city %></dd>
      <dt><strong><%= model_class.human_attribute_name(:zip) %>:</strong></dt>
      <dd><%= @user.zip %></dd>
      <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
      <dd><%= @user.country %></dd>
    </dl>
    <dl class="dl-horizontal col-lg-5">
      <dt><strong><%= model_class.human_attribute_name(:fax) %>:</strong></dt>
      <dd><%= @user.fax %></dd>
      <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
      <dd><%= @user.phone %></dd>
      <dt><strong><%= model_class.human_attribute_name(:phone2) %>:</strong></dt>
      <dd><%= @user.phone2 %></dd>
      <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
      <dd><%= mail_to(@user.email) %></dd>
      <dt><strong><%= model_class.human_attribute_name(:email2) %>:</strong></dt>
      <dd><%= mail_to(@user.email2) %></dd>
      <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
      <dd><%= @user.gender %></dd>
      <dt><strong><%= model_class.human_attribute_name(:initials) %>:</strong></dt>
      <dd><%= @user.initials %></dd>
      <dt><strong><%= model_class.human_attribute_name(:language) %>:</strong></dt>
      <dd><%= @user.language %></dd>
      <dt><strong><%= model_class.human_attribute_name(:memo) %>:</strong></dt>
      <dd><%= @user.memo %></dd>
      <!--<dt><strong><%= model_class.human_attribute_name(:prio) %>:</strong></dt>
      <dd><%= @user.prio %></dd> -->
      <!-- <dt><strong><%= model_class.human_attribute_name(:mailgroups) %>:</strong></dt>
      <dd><%= @user.mailgroups %></dd> -->
      <dt class="dim"><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
      <dd class="dim"><%= @user.created_by %></dd>
      <dt class="dim"><strong><%= model_class.human_attribute_name(:updated_by) %>:</strong></dt>
      <dd class="dim"><%= @user.updated_by %></dd>
      <dt class="dim"><strong><%= model_class.human_attribute_name(:updated_at) %>:</strong></dt>
      <dd class="dim"><%= @user.updated_at.try(:to_formatted_s).try(:first,16) %></dd>
    </dl>

  </div>
    <div class='panel-btn-group row'>
   
<!-- <i class="glyphicon glyphicon-chevron-left"></i> Users'.html_safe -->

    <%= link_to '<i class="glyphicon glyphicon-chevron-left"></i>'.html_safe + t('.back',    default: t("helpers.links.back")),
                  :back, :class => 'btn btn-default'  %>

    <%= link_to '<i class="fa fa-pencil"></i>'.html_safe + t('.edit',    default: t("helpers.links.edit")),
                  edit_user_path(@user), :class => 'btn btn-default' %>

    <%= link_to '<i class="fa fa-times">   </i>'.html_safe + t('.destroy', default: t("helpers.links.destroy")),
                  user_path(@user),
                  :method => 'delete',
                  :data => { :confirm => t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure? #{@user.lastname}')) },
                  :class => 'btn btn-danger' %>
    </div>

  </div>

  
<div class="col-lg-9">
  <span class='iv'><%= "#{__FILE__}" %></span>
</div>


<%= render partial: "mailgroups/user_mailgroups" %>
