<%= form_for @mailgroup, html: { class: "form-horizontal mailgroup" } do |f| %>

    <% if @mailgroup.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@mailgroup.errors.count, "error") %> prohibited this mailgroup from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @mailgroup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group row">
    <%= f.label :id, class: 'control-label col-lg-1 dim' %>
    <div class="controls col-lg-6">
      <%= f.text_field :id, class: 'form-control', readonly: true %>
    </div>
    <%= error_span(@mailgroup[:id]) %>
  </div>
  <div class="control-group row">
    <%= f.label :name, class: 'control-label col-lg-1' %>
    <div class="controls col-lg-6">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <%= error_span(@mailgroup[:name]) %>
  </div>
  <div class="control-group row">
    <%= f.label :memo, class: 'control-label col-lg-1' %>
    <div class="controls col-lg-6">
      <%= f.text_field :memo, class: 'form-control' %>
    </div>
    <%= error_span(@mailgroup[:memo]) %>
  </div>
  <div class="control-group row">
    <%= f.label :trialcode, class: 'control-label col-lg-1' %>
    <div class="controls col-lg-6">
      <%= f.text_field :trialcode, class: 'form-control' %>
    </div>
    <%= error_span(@mailgroup[:trialcode]) %>
  </div>

  <div class="control-group row">
    <%= f.label :query, class: 'control-label col-lg-1' %>
    <div class="controls col-lg-4">
      <%= f.text_field :query, class: 'form-control' %>
    </div>
    <%= error_span(@mailgroup[:query]) %>
  </div>

  <div class="control-group row">
    <%= f.label :type, class: 'control-label col-lg-1' %>
    <div class="controls col-lg-4">
      <%= f.text_field :type, class: 'form-control' %>
    </div>
    <%= error_span(@mailgroup[:type]) %>
  </div> 


  <div class="control-group row">
    <%= f.label :created_by, class: 'control-label col-lg-1' %>
    <div class="controls col-lg-6">
      <%= f.text_field :created_by, class: 'form-control', readonly: true  %>
    </div>
    <%= error_span(@mailgroup[:created_by]) %>
  </div>
  <div class="control-group row">
    <%= f.label :updated_by, class: 'control-label col-lg-1' %>
    <div class="controls col-lg-6">
      <%= f.text_field :updated_by, class: 'form-control', readonly: true %>
    </div>
    <%= error_span(@mailgroup[:updated_by]) %>
  </div>


  <!-- %= f.submit '', class: 'btn btn-primary spacer-medium' % -->
  <%= f.button 'Update', class: 'btn btn-primary spacer-medium' do %>
    <i class="fa fa-save"></i> Save
  <% end %> 


  <%= link_to t('.back', default: t("helpers.links.cancel")),
            :back, class: 'btn btn-default spacer-medium' %>

<% end %>

<%= content_tag(:div, "#{__FILE__}" , class: 'iv col-lg-12') %>