<%- model_class = Mailgroup -%>

<div class="page-header col-lg-12">
  <span class="dim"></span><h2><%= content_tag(:i, nil, class: 'fa fa-users') %>
  Assigned groups</h2>
</div>

<table class="table table-striped fadeactions mailgroups">
  <thead>
    <tr>
      <th class="dim"><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:trialcode) %></th>
      <th><%= model_class.human_attribute_name(:importance) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>

    <%= render partial: 'mailgroups/mailgroup_append_list', collection: @list.mailgroups.order(:name), as: :mailgroup %>

  </tbody>
</table>

<% if current_user %>
  <!-- append  a MAILGROUP to the list -->
  <%= form_tag append_list_mailgroups_path(@list), method: :patch, remote: true do %>
    <div class="input-group append">

      <%= text_field_tag 'autogroups', '', size: 75, class: 'form-control' %>
      <%= hidden_field_tag 'mailgroup_id', 'dummy' %>

      <span class="input-group-btn append">
          <button class="btn btn-default" type="submit">Append</button>
      </span>
    </div>
  <% end %>
<% end %>
<p class='iv'><%= "#{__FILE__}" %></p>