<%- model_class = Mailgroup -%>

<div class="row col-lg-8">
<%= will_paginate @mailgroup, renderer: BootstrapPagination::Rails %>
</div>

<table class="table table-striped fadeactions mailgroups">
  <thead class="grad">
    <tr>
      <td class="dim"><%= model_class.human_attribute_name(:id) %></td>
      <td><%= model_class.human_attribute_name(:name) %></td>
      <td><%= model_class.human_attribute_name(:trialcode) %></td>
      <td># Users</td>
      <td><%=t '.actions', default: t("helpers.actions") %></td>
    </tr>
  </thead>
  <tbody>

    <%= render partial: "mailgroup", collection: @mailgroups, as: :mailgroup %>

  </tbody>
</table>

<div class="row col-lg-12">
  <%= link_to t('.new', default: t("helpers.links.new")),
              new_mailgroup_path,
              class: 'btn btn-primary' if current_user %>

  <%= link_to t('.back', default: t("helpers.links.back")),
              :back,
              class: 'btn btn-default' %>

</div>

<div class="row col-lg-12">
<%= link_to t('.new', default: t("helpers.links.new")),
            new_mailgroup_path,
            class: 'btn btn-primary' if current_user %>

<%= link_to t('.back', default: t("helpers.links.back")),
            :back,
            class: 'btn btn-default' %>

</div>

<div class="row col-lg-8">
<%= will_paginate @mailgroup, renderer: BootstrapPagination::Rails %>
</div>

