<%- model_class = Mailgroup -%>
<% javascript_include_tag 'append.js' %>

<div class="page-header col-lg-12">
  <span class="dim"></span>
  <h2><%= content_tag(:i, nil, class: 'fa fa-users') + " #{@user.mailgroups.count}" %>
          assigned groups</h2>
</div>


<table class="table table-striped fadeactions mailgroups">
  <%= render partial: 'mailgroups/mailgroup_header' %>
  <tbody>
    <%= render partial: "mailgroups/mailgroup", 
        collection: @user.mailgroups.order(@c + ' ' + @d), as: :mailgroup
     %>
  </tbody>
</table>



<div class="row col-lg-6">
  <!-- append  a MAILGROUP to the user -->
  <%= form_tag append_user_mailgroups_path(@user), method: :patch, remote: true do %>
    <div class="input-group append">

      <%= text_field_tag 'autogroups', '', size: 75, class: 'form-control' %>
      <%= hidden_field_tag 'mailgroup_id', 'dummy' %>

      <span class="input-group-btn append">
        <button class="btn btn-default" type="submit">Append</button>
      </span>
    </div>
  <% end %>
</div>

<%= content_tag(:div, "partial mailgroups/mailgroup" , class: 'iv col-lg-12') %>
<%= content_tag(:div, "#{__FILE__}" , class: 'iv col-lg-12') %>
