<%- model_class = Mailgroup -%>


<div class="page-header col-lg-12">
  <span class="dim"></span><h2><%= content_tag(:i, nil, class: 'fa fa-users') %>
  Assigned mailgroups</h2>
</div>

<table class="table table-striped fadeactions mailgroups">
  <thead>
    <tr>
      <td class="dim"><%= model_class.human_attribute_name(:id) %></td>
      <td><%= model_class.human_attribute_name(:name) %></td>
      <td><%= model_class.human_attribute_name(:trialcode) %></td>
      <td><%= model_class.human_attribute_name(:importance) %></td>
      <td><%=t '.actions', :default => t("helpers.actions") %></td>
    </tr>
  </thead>
  <tbody>

    <%= render partial: 'mailgroups/mailgroup_append', collection: @user.mailgroups, as: :mailgroup %>

  </tbody>
</table>
<!-- append  a MAILGROUP to the user -->
<%= form_tag append_user_mailgroups_path(@user), method: :patch, remote: true do %>
  <div class="input-group append col-lg-6">

    <%= text_field_tag 'autogroups', '', size: 75, class: 'form-control' %>
    <%= hidden_field_tag 'mailgroup_id', 'dummy' %>

    <span class="input-group-btn append">
        <button class="btn btn-default" type="submit">Append</button>
    </span>
  </div>
<% end %>




<p class='iv'><%= "#{__FILE__}" %></p>
<!-- <%= javascript_include_tag params[:controller] %>  -->