<%- model_class = Mailgroup -%>
<div class="page-header">
  <h1><!--%=t '.title', :default => [:'helpers.titles.edit', '%{model}'], :model => model_class.model_name.human.titleize % -->
  <%= content_tag(:i, nil, class: 'fa fa-group') %>    
  <%= @mailgroup.name %>
  <%= content_tag(:i, nil, class: 'fa fa-pencil') %>

  </h1>
</div>
<%= render :partial => 'form' %>

<p class='iv'><%= "#{__FILE__}" %></p>