<%- model_class = Mailgroup -%>
<%= render partial: "mailgroups/print" %>   <!-- MODAL -->

<div class="page-header col-lg-12">
  <h1><%= content_tag(:i, nil, class: 'fa fa-users') %>
    <span class="dim"></span><%= "#{@mailgroup.name}" %> 
  </h1>
</div>



<div class="panel panel-default panel-body col-lg-6">
    <h3>Group details</h3>
    <dl class="dl-horizontal">
      <dt class="dim"><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
      <dd class="dim"><%= @mailgroup.id %></dd>
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @mailgroup.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:memo) %>:</strong></dt>
      <dd><%= @mailgroup.memo %></dd>
      <dt><strong><%= model_class.human_attribute_name(:trialcode) %>:</strong></dt>
      <dd><%= @mailgroup.trialcode %></dd>
      <dt><strong>Users count:</strong></dt>
      <dd><%= @mailgroup.users.count %></dd>
      <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
      <dd><%= @mailgroup.created_by %></dd>
      <dt><strong><%= model_class.human_attribute_name(:updated_by) %>:</strong></dt>
      <dd><%= @mailgroup.updated_by %></dd>
      <dt><strong><%= model_class.human_attribute_name(:updated_at) %>:</strong></dt>
      <dd><%= @mailgroup.updated_at.try(:to_formatted_s).try(:first,16) %></dd>
    </dl>

    <!-- is rendered as hidden and show when confirmation is needed -->
    <%= render partial: 'mailgroupwarn' %>
    <%= render partial: 'bccrecps' %>

    <div class='panel-btn-group'>
      <%= link_to content_tag(:i, '', class: "fa fa-chevron-left") + t('.back', default: t("helpers.links.back")),
                  :back,
                  class: 'btn btn-default' 
       %>

      <%= link_to content_tag(:i, '', class: "fa fa-pencil")  + t('.edit', default: t("helpers.links.edit")),
                  edit_mailgroup_path(@mailgroup),
                  class: 'btn btn-default' if mutation?
       %>

      <%= link_to content_tag(:i, '', class: "fa fa-envelope")  + "Group mail", '#',
                  class: "btn btn-default", id: "jqcc"
       %>

      <%= link_to content_tag(:i, '', class: "fa fa-print") + "Print / Export",
                  print_mailgroup_path(@mailgroup),
                  remote: true,
                  #target: "_blank",
                  data: {toggle: "modal", target: "#modprint_group" },
                  class: "btn btn-default"
      %>


      <%= link_to content_tag(:i, '', class: "fa fa-trash-o") + t('.destroy', default: t("helpers.links.destroy")),
                  mailgroup_path(@mailgroup),
                  method: :delete,
                  data: { confirm: "Sure to delete #{@mailgroup.name}? \nIMPORTANT: Assigned users won't be deleted" },
                  class: 'btn btn-mini btn-danger' if mutation?
       %>

    </div>
    <!-- textarea id="maila"></textarea -->
</div>

<div class="panel panel-default panel-body col-lg-offset-1 col-lg-5">
  <h3>Lists assigned</h3>
  <table class="table table-striped fadeactions lists">
    <tbody>
      <% if @mailgroup.lists.any? %>
        <%= render partial: 'lists/grouplist', collection: @mailgroup.lists.order(:id), as: :list %>
      <% else %>
        <%= render text: 'none' %>
      <% end %>
    </tbody>
  </table>
</div>

<%= render partial: "users/mailgroup_users" %>

<%= content_tag(:div, "#{__FILE__}" , class: 'iv col-lg-12') %>
