<%- model_class = Mailgroup -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
  <dd><%= @mailgroup.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @mailgroup.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:memo) %>:</strong></dt>
  <dd><%= @mailgroup.memo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:trialcode) %>:</strong></dt>
  <dd><%= @mailgroup.trialcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:importance) %>:</strong></dt>
  <dd><%= @mailgroup.importance %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= @mailgroup.created_by %></dd>
  <dt><strong><%= model_class.human_attribute_name(:updated_by) %>:</strong></dt>
  <dd><%= @mailgroup.updated_by %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              mailgroups_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_mailgroup_path(@mailgroup), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              mailgroup_path(@mailgroup),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

<div>
<p>
  <%= render partial: "users/mailgroup_users" %>
</p>
</div>