<%- model_class = Mailgroup -%>

<div class="page-header col-lg-12">
  <!-- h1><%=t '.title', default: model_class.model_name.human.titleize %></h1 -->
  <h1><%= content_tag(:i, nil, class: 'fa fa-users') %>
    <span class="dim"></span><%= "#{@mailgroup.name}" %> 
  </h1>

</div>


<div class="panel panel-default panel-body col-lg-6">
    <dl class="dl-horizontal">
      <dt class="dim"><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
      <dd class="dim"><%= @mailgroup.id %></dd>
      <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @mailgroup.name %></dd>
      <dt><strong><%= model_class.human_attribute_name(:memo) %>:</strong></dt>
      <dd><%= @mailgroup.memo %></dd>
      <dt><strong><%= model_class.human_attribute_name(:trialcode) %>:</strong></dt>
      <dd><%= @mailgroup.trialcode %></dd>
      <dt><strong>Users count:</strong></dt>
      <dd><%= @mailgroup.users.count %></dd>
      <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
      <dd><%= @mailgroup.created_by %></dd>
      <dt><strong><%= model_class.human_attribute_name(:updated_by) %>:</strong></dt>
      <dd><%= @mailgroup.updated_by %></dd>
      <dt><strong><%= model_class.human_attribute_name(:updated_at) %>:</strong></dt>
      <dd><%= @mailgroup.updated_at.try(:to_formatted_s).try(:first,16) %></dd>
    </dl>

    <!-- is rendered as hidden and show when confirmation is needed -->
    <%= render partial: 'mailgroupwarn' if @mailgroup.users.count > 50 %>

    <div class='panel-btn-group'>
      <%= link_to content_tag(:i, '', class: "glyphicon glyphicon-chevron-left") + t('.back', default: t("helpers.links.back")),
                  :back,
                  class: 'btn btn-default' 
       %>

      <%= link_to content_tag(:i, '', class: "fa fa-pencil")  + t('.edit', default: t("helpers.links.edit")),
                  edit_mailgroup_path(@mailgroup),
                  class: 'btn btn-default' if current_user
       %>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
  if more than 50 users,
    then show modal dialog as warning
  else
    mailto: bbc all members in groups

  see api doc: link_to_if(condition, name, options = {}, html_options = {}, &block)
-->
      <%= link_to_if( @mailgroup.users.count > 50, 
                  content_tag(:i, '', class: "fa fa-envelope-o") + " Group email", 
                  mailto_mailgroup_path(@mailgroup.id),
                  remote: true,
                  class: "btn btn-default",
                  data: {toggle: "tooltip", title: "Mailgroup has more than 50 users", placement: 'top' }) do 
                    mail_to (current_user.nil? ? "Add your email here" : current_user.login ), 
                    content_tag(:i, '', class: "fa fa-envelope-o") + " Group email", 
                    { bcc: @mailgroup.users.where('email is not null').map(&:email).join(", "), class: "btn btn-default close-modal" }
                  end
       %> 

      <%= link_to content_tag(:i, '', class: "fa fa-print") + "Print",
                  print_mailgroup_path(@mailgroup),
                  remote: true,
                  #target: "_blank",
                  class: "btn btn-default"

      %>

      <%= link_to content_tag(:i, '', class: "fa fa-trash-o") + t('.destroy', default: t("helpers.links.destroy")),
                  mailgroup_path(@mailgroup),
                  method: :delete,
                  remote: true,
                  data: { confirm: "Sure to delete #{@mailgroup.name}?" },
                  class: 'btn btn-mini btn-danger' if current_user
       %>

    </div>
</div>

<%= render partial: "users/mailgroup_users"%>
<%= render partial: 'mailgroups/print' %>   <!-- MODAL -->

<%= content_tag(:div, "#{__FILE__}" , class: 'iv col-lg-12') %>
